.photo-imageset {
  display: flex; 
  border: 2px solid red; 
  flex-flow: row wrap;
  justify-content: space-around;

  padding: 0 15px; 
  background-color: #c0c0c0; 
}
.photo-imageset-hidden {
  display: none; 
}
/*
.photo-imageset #imgset {
  clear: both;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; 
}
*/
.photo-imageset .img {
  margin-bottom: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 3px #ccc;
  background: #fff;
  overflow: hidden;
  position: relative;
  margin: .5%; 
}

.photo-imageset .img .del {
  position: absolute;
  right: 0;
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; 
}

.photo-imageset .img .del:hover {
  color: #fff;
  background-color: #000;
}

